// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

$show-shadow: false;

$theme-name: 'gray';

$base-color: #AFB0B3;
$custom-border-radius: 10px;
$custom-header-background-color: #717075;
$custom-header-text-color: white;
$custom-header-title-font-size: 14px;
$custom-header-padding: 15px;

$custom-left-panel-padding: 15px;
$custom-left-panel-font-size: 14px;

// input
$custom-input-background-color: #F1F1F1;


// ============================
//      LEFT PANEL
// ============================
$panel-border-width: 1px;
// reset frame padding
$panel-frame-padding: 0px;

// reset form fields
$form-field-background-image: false;
$form-field-border-width: 1px;
$form-field-background-color: #F1F1F1;
$form-field-border-color: #EBECEE;
 // $form-field-padding: 5px;
 // $form-field-height: 30px;
$form-field-focus-border-color:#D5D6D8;

// button
$button-default-base-color: #1283C7;
$button-default-base-color-over: adjust-color(#1283C7, $hue: -6.667deg, $saturation: 44.444%, $lightness: 10.588%) !default; //E4F3FF
$button-default-base-color-focus: $button-default-base-color-over !default;
$button-default-base-color-pressed: adjust-color(#1283C7, $hue: -0.725deg, $saturation: -9.556%, $lightness: -3.725%) !default; //B6CBE4
$button-default-base-color-disabled: adjust-color(#1283C7, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7


@import 'ext4/default/all';
                              
// ============================
//      MAIN PAGE
// ============================


#main-page, #main-page-body {
  background-color: #D5D6D8;

  .panel-header {
    background-color: $custom-header-background-color;
    background-image: none;
    color: $custom-header-text-color;
  }

  .panel-header-container {
    font-weight: bold;
    font-size: $custom-header-title-font-size;
    padding: 0 $custom-header-padding;
    padding-top: 3px;

    .float-right {
      float: right;
    }

    .header-title {
    }

    .divider {
      margin: 0 10px;
    }

    a {
      color: $custom-header-text-color;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.blue-btn {
    color: white !important;
  }

// ============================
//      LEFT PANEL
// ============================

  #left-panel {
    .x-panel-body {
      padding: $custom-left-panel-padding;
    }

    .panel-body-title {
      font-weight: bold;
      font-size: $custom-left-panel-font-size;
    }
  }

@if $show-shadow{
  .x-panel.border {
    @include box-shadow(rgba(0, 0, 0, .3) 4px 4px 4px);
  }
}

.x-panel-body.no-border{
  border:  none;
}

// radius for fully rounded
.full-rounded {
  @include border-radius($custom-border-radius);

  .x-panel-body {
    @include border-radius($custom-border-radius);
  }
}


// radius for bottom rounded
.bottom-rounded {
  @include border-bottom-radius($custom-border-radius);
  .x-panel-body{
    @include border-bottom-radius($custom-border-radius);
  }
}

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
//@include extjs-slider;
//@include extjs-progress;
//@include extjs-toolbar;
//@include extjs-window;
//@include extjs-messagebox;
//@include extjs-tabbar;
//@include extjs-tab;
//@include extjs-tree;
//@include extjs-drawcomponent;
@include extjs-viewport;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true

