<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-lazy-init="true">
    <!-- Category Dao -->
    <bean id="categoryDao" class="com.nkhoang.gae.dao.impl.CategoryDaoImpl"
          scope="prototype"></bean>
    <!-- Item dao -->
    <bean id="itemDao" class="com.nkhoang.gae.dao.impl.ItemDaoImpl"
          scope="prototype"></bean>
    <!-- Item picture dao -->
    <bean id="itemPictureDao" class="com.nkhoang.gae.dao.impl.ItemPictureDaoImpl"
          scope="prototype"></bean>
    <!-- User dao -->
    <bean id="userDao" class="com.nkhoang.gae.dao.impl.UserDaoImpl"
          scope="prototype">
    </bean>

    <bean id="userTagDao" class="com.nkhoang.gae.dao.impl.UserTagDaoImpl" scope="prototype"></bean>

    <bean id="wordTagDao" class="com.nkhoang.gae.dao.impl.WordTagDaoImpl" scope="prototype"></bean>
    <bean id="meaningDao" class="com.nkhoang.gae.dao.impl.MeaningDaoImpl"
          scope="prototype">
    </bean>

    <bean id="vocabularyDao" class="com.nkhoang.gae.dao.impl.VocabularyDaoImpl"
          scope="prototype">
    </bean>

    <bean id="userWordDao" class="com.nkhoang.gae.dao.impl.UserWordDaoImpl" scope="prototype">
    </bean>

    <bean id="wordItemDao" class="com.nkhoang.gae.dao.impl.WordItemDaoImpl"
          scope="prototype">
    </bean>

    <bean id="wordItemStatDao" class="com.nkhoang.gae.dao.impl.WordItemStatDaoImpl" scope="prototype"/>

    <bean id="messageDao" class="com.nkhoang.gae.dao.impl.MessageDaoImpl"
          scope="prototype">
    </bean>

    <bean id="goldPriceDao" class="com.nkhoang.gae.dao.impl.GoldPriceDaoImpl"
          scope="prototype">
    </bean>

    <bean id="currencyDao" class="com.nkhoang.gae.dao.impl.CurrencyDaoImpl"
          scope="prototype">
    </bean>

    <!-- JPA entity manager -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <!-- load persistence unit from persistence.xml -->
        <property name="persistenceUnitName" value="pum"/>
    </bean>
    <!-- Spring Transaction Management -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <!--
        PostProcessors to perform exception translation on @Repository classes
        (from native exceptions such as JPA PersistenceExceptions to Spring's
        DataAccessException hierarchy).
      -->
    <bean
            class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    <bean
            class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
</beans>

