<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.nkhoang.model.User"/>
        <mapping class="com.nkhoang.model.Role"/>
        <mapping class="com.nkhoang.model.Word"/>
        <mapping class="com.nkhoang.model.Meaning"/>
        <mapping class="com.nkhoang.model.Example"/>
    </session-factory>

</hibernate-configuration>