#admin_board {
    height: 200px;
}

#category_board {
    width: 300px;
    border:solid 1px #aacfe4;
    padding: 10px;    
    float: left;
}

#item_board {
    width: 500px;
    border:solid 1px #aacfe4;
    padding: 10px;
    float: left;
}

#item_board div.ic {
    height: 50px;
    width: auto;
    border:solid 1px #aacfe4;
}

#item_board div.img_c img {
    margin: 5px;
}