/* General */

a img {
    outline: none;
    border: none;
}

/* Board Container */
#admin_board {
    
}

#admin_board .content {
    min-height: 400px;
    margin: 5px;
}

/* Category Board Container */
#category_board {
    width: 300px;
    border:solid 1px #aacfe4;
    padding: 10px;    
    float: left;
}

/* Item View Board Container */

#item_board {
    width: 700px;
    border:solid 1px #aacfe4;
    padding: 10px;
    float: left;
    font-size: 12px;
}

#item_board div.ic {
    height: 50px;
    width: 100%;
    border:solid 1px #aacfe4;
    margin: 2px 0;
    float: left;
}

#item_board div.ic:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

#item_board div.ic:hover .seperator{
    border-bottom: 1px solid #000;
}

#item_board div.img_c img {
    margin: 5px;
}

#item_board div.it_b {
    float: left;
    padding: 0 10px;
    min-width: 70px;
}

#item_board div.it_b .it_title {
    color: #0E509E;
    font-weight: bold;
    margin: 5px 0 5px 0;
    text-align: center;
}

#item_board div.it_b .seperator {
    height: 1px;
    border-bottom: 1px solid #EFEFEF;
}

#item_board div.it_b .it_content {
    margin: 5px 0 10px 0;
    text-align: center;
}

/* Item Picture CSS */
#item_picture_list_view .item_picture_block {
    width: auto;
    overflow: auto;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    position: relative;
    border: 1px solid #AACFE4;
    cursor: pointer;
}

#item_picture_list_view .item_picture_block:hover {
    background-color: #EFF9FF;
}

#item_picture_list_view .item_picture_ic.fleft {
    float: left;
}

#item_picture_list_view .item_picture_ic {
    position: relative;
    width: 40px;
    margin: 2px auto;
    border: 1px solid #AACFE4;
}
#item_picture_list_view .item_picture_is_thumb {
    position: absolute;
    right: 0;
}

a.showItemPictureForm{
    border: none;
    text-decoration: none;
}