#admin_board {
    height: 200px;
}

#category_board {
    width: 300px;
    border:solid 1px #aacfe4;
    padding: 10px;    
    float: left;
}

#item_board {
    width: 500px;
    border:solid 1px #aacfe4;
    padding: 10px;
    float: left;
    font-size: 11px;
}

#item_board div.ic {
    height: 50px;
    width: auto;
    border:solid 1px #aacfe4;
    margin: 2px 0;
}

#item_board div.ic:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

#item_board div.ic:hover .seperator{
    border-bottom: 1px solid #000;
}

#item_board div.img_c img {
    margin: 5px;
}

#item_board div.it_b {
    float: left;
    padding: 0 10px;
}

#item_board div.it_b .it_title {
    color: #0E509E;
    font-weight: bold;
    margin: 5px 0 5px 0;
}

#item_board div.it_b .seperator {
    height: 1px;
    border-bottom: 1px solid #EFEFEF;
}

#item_board div.it_b .it_content {
    margin: 5px 0 10px 0;
    text-align: center;
}