
/* Item Board View */

#it_c {

}

#it_c div.img_c{
    float: left;
    width: 150px;
    margin: 10px;
    border: 1px solid #F1F1F1;
}

#it_c div.form_c {
    float: left;
    width: 630px;
}

#item_picture_controller {
    float: right;
}

#it_c .subTitle {
    float: left;
    line-height: 24pt;
}