@charset "UTF-8";
@import "chara/item.css";

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 138px;
    height: 158px;
    background-color: white;
}
.wraptocenter * {
    vertical-align: middle;
}
/*\*//*/
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

a img {
    border: none;
    outline: none;
}

#login {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

#loginLoading {
    display: none;
}

body {
    width: 100%;
    background: #000 url(../images/chara/bg_decor.gif) no-repeat 580px 0px;
    position: relative;
    overflow: auto;
}

#header {
    height: 150px;
}

#body-wrapper {
    width: 960px;
    margin: 0 auto;

}

#logoContainer {
}

#mainNav {
}

/* 960 = subNav (42) + */

#leftContent {
    width: 960px;
    position: relative;
    height: 600px;
}

/* Sub navigation */
#subNav {
    width: 42px;
    position: relative;
    float: left;
    z-index: 100;
    margin-top: 30px;
}

/* handle in case bottom has class: hidden */
#subNav div.snt {
    z-index: 100;
    width: 100%;
    height: 0;
}

#subNav div.first div.snt {
    height: 22px;
    background: url(../images/chara/btn_normal_right.gif) no-repeat 0 0;
}

#subNav div.first.active div.snt, #subNav div.first.last.active div.snt {
    height: 22px;
    background: url(../images/chara/btn_hover_right.gif) no-repeat 0 0;
}

#subNav div.last.active div.snt {
    height: 0px;
    background: none;
}

#subNav div.snm {
    height: 90px;
}

/* under .mid .left */
#subNav div.snl {
    width: 3px;
    height: 100%;
    float: left;
    background: url(../images/chara/btn_normal_side_left.gif) repeat-y 0 0;
}

#subNav div.active div.snm div.snl {
    background: url(../images/chara/btn_hover_side_left.gif) repeat-y 0 0;
}

/* under .mid .center */
#subNav div.short div.snc {
    width: 29px;
    float: left;
    height: 100%;
    background: #E4E3DC url(../images/chara/btn_normal_side_middle_pains.gif) no-repeat center center;
}

#subNav div.tab.short:hover div.snc {
    background: #E4E3DC url(../images/chara/btn_hover_side_middle_pains.gif) no-repeat center center;
}

#subNav div.tab.short.active:hover div.snc {
    background: #D14901 url(../images/chara/btn_active_side_middle_pains.gif) no-repeat center center;
}

#subNav div.short.active div.snm div.snc {
    background: #D14901 url(../images/chara/btn_active_hover_side_middle_pains.gif) no-repeat center center;
}

#subNav div.tab.shirt:hover div.snc {
    background: #E4E3DC url(../images/chara/shirt_hover_snc.gif) no-repeat center center;
}

#subNav div.tab.shirt.active:hover div.snc {
    background: #D14901 url(../images/chara/shirt_hover_active_snc.gif) no-repeat center center;
}

#subNav div.shirt div.snc {
    width: 29px;
    float: left;
    height: 100%;
    background: #E4E3DC url(../images/chara/shirt_snc.gif) no-repeat center center;
}

#subNav div.shirt.active .snm .snc {
    background: #D14901 url(../images/chara/shirt_active_snc.gif) no-repeat center center;
}

#subNav div.snr {
    width: 10px;
    height: 100%;
    float: left;
    background: url(../images/chara/subnav_snr.gif) repeat-y 0 0;
}

#subNav div.active div.snm div.snr {
    background: url(../images/chara/subnav_active_snr.gif) repeat-y 0 0;
}

#subNav div.snb.hidden {
    display: none;
}

#subNav div.snb {
    width: 100%;
    height: 27px;
    background: url(../images/chara/subnav_snb.gif) no-repeat 0 0;
}

#subNav div.active.last div.snb {
    height: 21px;
    background: url(../images/chara/subnav_active_last_snb.gif) no-repeat 0 0;
}

#subNav div.active div.snb {
    height: 27px;
    background: url(../images/chara/subnav_active_snb.gif) no-repeat 0 0;
}

#subNav div.last div.snb {
    width: 56px;
    height: 21px;
    background: url(../images/chara/subnav_last_snb.gif) no-repeat 0 0;
}

#subNav div.nextActive div.snb {
    background: url(../images/chara/btn_hover_left_normal_right.gif) no-repeat 0 0;
    height: 21px;
    width: 56px;
}

/* Content for Items  + 13 px margin left*/
#contentContainer {
    position: relative;
    margin-left: -13px;
    float: left;
    width: 734px;
    /*height: 760px;*/
    height: 560px;
    min-height: 300px;
    z-index: 100; /* fix subnav shadown */
}

#contentContainer .ctc {
    width: 648px;/*181px * 3 + 10px padding;*/
    height: 100%;
}

#contentContainer .ctt {
    width: 100%;
    height: 39px;
}
#contentContainer .ctt .ctl {
    width: 39px;
    height: 100%;
    position: relative;
    float: left;
    background: url(../images/chara/content_container_ctt_ctl.png) no-repeat 0 0;
}

#contentContainer .ctt .ctc {
    height: 100%;
    float: left;
    background: transparent url(../images/chara/content_container_ctt_ctc.png) repeat-x 0 0;
}

#contentContainer .ctt .ctr {
    width: 47px;
    height: 100%;
    float: left;
    background: url(../images/chara/content_container_ctt_ctr.png) no-repeat 0 0;
}

#contentContainer .ctm {
    width: 100%;
    height: 100%;
}

#contentContainer .ctm .ctl {
    width: 39px;
    height: 100%;
    background: url(../images/chara/content_container_ctm_ctl.png) repeat-y 0 0;
    float: left;
}

#contentContainer .ctm .ctr {
    width: 47px;
    height: 100%;
    background: url(../images/chara/content_container_ctm_ctr.gif) repeat-y 0 0;
    float: left;
}

#contentContainer .ctm .ctc {
    background: #E2E0D9;
    height: 100%;
    float: left;
}

#contentContainer .ctb {
    height: 39px;
    width: 100%;
}

#contentContainer .ctb .ctl {
    height: 100%;
    width: 39px;
    float: left;
    background: url(../images/chara/content_container_ctb_ctl.gif) no-repeat 0 0;
}

#contentContainer .ctb .ctc {
    float: left;
    height: 100%;
    background: url(../images/chara/content_container_ctb_ctc.gif) repeat-x 0 0;
}

#contentContainer .ctb .ctr {
    height: 100%;
    float: left;
    width: 47px;
    background: url(../images/chara/content_container_ctb_ctr.gif) no-repeat 0 0;
}

#marker {
    position: absolute;
    width: 108px;
    height: 51px;
    left: 712px;
    /*top: 750px;*/
    top: 550px;
    float: left;
}

#markerContent {
    position: relative;
    height: 100%;
    width: 100%;
}

#markerContent table {
    width: auto;
    height: 100%;
}

#current_page_number {
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}

#total_page_number {
    display: inline;
    vertical-align: middle;
}


.touchArea {
    cursor: pointer;
}

#marker .mal {
    background: #000 url(../images/chara/marker_left.gif) no-repeat 0 0;
    height: 100%;
    width: 29px;
}

#marker .mam {
    width: 60px;
    height: 100%;
    background: #000 url(../images/chara/marker_mid.gif) repeat-x 0 0;
}
#marker .mar {
    height: 100%;
    width: 19px;
    background: #000 url(../images/chara/marker_right.gif) no-repeat 0 0;
}


#pager {
    display: none;
    position: absolute;
    height: 60px;
    width: auto;
    left: -10px;
    top: -15px;
}

#pager .pal {
    height: 100%;
    width: 28px;
    background: transparent url(../images/chara/pager_left.png) no-repeat 0 0;
}

#pager .pal .touchArea {
    width: 100%;
    height: 30px;
}

#pager .pam {
    width: 0px;
    height: 100%;
    background: transparent url(../images/chara/pager_middle.png) repeat-x 0 0;
}

#pager .par {
    width: 30px;
    height: 100%;
    background: transparent url(../images/chara/pager_right.png) no-repeat 0 0;
}

#pager .par .touchArea {
    width: 100%;
    height: 30px;
    position: relative;
    right: 0px;
}

#pager .pagerInput {
    position: absolute;
    top: 6px;
    left: 15px;
}

.pagerInput input {
    background-color: #E2E0D9;
    border: none;
    width:22px;
    text-align: center;
}

#pager .currentPage {
    position: absolute;
    top: 30px;
    left: 20px;
}

#page_number {
    position: relative;
    top: -35px;
    left: 10px;
}

.fleft {
    float: left;
}

#menuButtons {
    position: absolute;
    left: 50px;
    top : 8px;
    width: 100%;
}

#menuButtons .menuButton {
    width: 107px;
    height: 42px;
}

#menuButtons .menuButton.home {
    background: url(../images/chara/menu_home.png) no-repeat 9px 0px;
}


#menuButtons .menuButton.home:hover {
    background: url(../images/chara/menu_home_hover.png) no-repeat 9px 0px;
    cursor: pointer;
}

#menuButtons .menuSeperator {
    margin-top: 3px;
    width: 7px;
    height: 47px;
    background: url(../images/chara/menu_seperator.png) no-repeat 0 0;
}

#menuButtons .menuButton.about {
    background: url(../images/chara/menu_about.png) no-repeat 9px 0px;
}


#menuButtons .menuButton.about:hover {
    background: url(../images/chara/menu_about_hover.png) no-repeat 9px 0px;
    cursor: pointer;
}


#menuIndicator {
    width: 107px;
    height: 60px;
    position: absolute;
    left: 50px;
    top: 0px;
}


#menuIndicator .indicatorTitle {
    width: 72px;
    height: 23px;
    position: relative;
    top: 15px;
    left: 4px;
}

#menuIndicator .indicatorTitle.home{
    background: url(../images/chara/menu_indicator_home.gif) no-repeat 0 0;
}

#menuIndicator .indicatorTitle.about {
    background: url(../images/chara/menu_indicator_about.gif) no-repeat 0 0;
}
.mit {
    height: 8px;
}

.mit .mil {
    height: 100%;
    width: 14px;
    background: transparent url(../images/chara/mit_mil.png) no-repeat 0 0;
}

.mit .mic {
    height: 100%;
    width: 80px;
    background: transparent url(../images/chara/mit_mic.png) no-repeat 0 0;
}

.mit .mir {
    height: 100%;
    width: 13px;
    background: transparent url(../images/chara/mit_mir.png) no-repeat 0 0;

}

.mib {
    height: 52px;
    width: 80px;
    background: transparent url(../images/chara/mib.png) no-repeat 0 0;
    margin-left: 14px;
}


#menuContainer {
    width: 763px;/*677px;*/
    height: 74px;
    position: relative;
}

#menuContainer .mnt {
    width: 100%;
}
#menuContainer .mnt .mnl{
    width: 21px;
    height: 20px;
    background: transparent url(../images/chara/menu_container_mnt_mnl.png) no-repeat 0 0;
}
#menuContainer  .mnt .mnr{
    height: 20px;
    width: 22px;
    background: transparent url(../images/chara/menu_container_mnt_mnr.png) no-repeat 0 0;
}
#menuContainer  .mnt .mnc{
    height: 20px;
    width: 720px;
    background: transparent url(../images/chara/menu_container_mnt_mnc.png) repeat-x 0 0px;
}

#menuContainer  .mnm{
    height: 34px;
}
#menuContainer  .mnm .mnl {
    height: 100%;
    width: 8px;
    background: transparent url(../images/chara/menu_container_mnm_mnl.png) repeat-y 0 0;
}

#menuContainer .mnm .mnc {
    background: transparent url(../images/chara/menu_container_mnm_mnc.png) repeat 0 0;
    width: 747px;
    height: 100%;
}
#menuContainer  .mnm .mnr {
    height: 100%;
    width: 8px;
    background: url(../images/chara/menu_container_mnm_mnr.png) repeat-y 0 0;
}

#menuContainer  .mnb {
    height: 19px;
}

#menuContainer  .mnb .mnl{
    height:20px;
    width: 21px;
    background: transparent url(../images/chara/menu_container_mnb_mnl.png) no-repeat 0 0;
}
#menuContainer  .mnb .mnr {
    height: 20px;
    width: 22px;
    background: transparent url(../images/chara/menu_container_mnb_mnr.png) no-repeat 0 0;
}

#menuContainer  .mnb .mnc {
    height: 20px;
    width: 720px;
    background: transparent url(../images/chara/menu_container_mnb_mnc.png) repeat-x 0 0;
}