/***************************************/
/* line 13, ../sass/layout.scss */
body {
  background: url("/images/background.gif") repeat scroll left top #f5f2f3; }

/* line 17, ../sass/layout.scss */
#page-body {
  margin: 0 auto;
  width: 990px; }

/***************************************************
/**********   USER MANAGEMENT  *********************
/***************************************************/
/* line 42, ../sass/layout.scss */
#pnl-left {
  width: 300px;
  position: fixed;
  height: 1px;
  display: block; }
/* line 48, ../sass/layout.scss */
#pnl-left #nav-border-hider, #pnl-left #pnl-nav {
  display: none; }

/**
* the Search box.
*/
/* line 57, ../sass/layout.scss */
#search-box {
  width: 750px;
  float: left;
  margin-left: 300px;
  margin-right: 9px;
  position: relative;
  -moz-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -webkit-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -o-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -moz-border-radius-topleft: 13px;
  -webkit-border-top-left-radius: 13px;
  -o-border-top-left-radius: 13px;
  -ms-border-top-left-radius: 13px;
  -khtml-border-top-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-border-radius-topright: 13px;
  -webkit-border-top-right-radius: 13px;
  -o-border-top-right-radius: 13px;
  -ms-border-top-right-radius: 13px;
  -khtml-border-top-right-radius: 13px;
  border-top-right-radius: 13px;
  border-color: #dddddd #dddddd #dddddd #666666;
  border-style: solid solid solid none;
  border-width: 1px 1px 0px 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffedd3), color-stop(55%, #ffbc5e), color-stop(90%, #ffbc5e));
  background-image: -webkit-linear-gradient(#ffedd3, #ffbc5e 55%, #ffbc5e 90%);
  background-image: -moz-linear-gradient(#ffedd3, #ffbc5e 55%, #ffbc5e 90%);
  background-image: -o-linear-gradient(#ffedd3, #ffbc5e 55%, #ffbc5e 90%);
  background-image: -ms-linear-gradient(#ffedd3, #ffbc5e 55%, #ffbc5e 90%);
  background-image: linear-gradient(#ffedd3, #ffbc5e 55%, #ffbc5e 90%);
  padding: 7px 0px;
  z-index: 1; }
/* line 74, ../sass/layout.scss */
#search-box #search-left-sec {
  margin-left: 15px;
  width: 500px;
  padding: 4px 0 4px 0;
  border: medium none;
  color: #797979;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  -o-border-radius: 13px;
  -ms-border-radius: 13px;
  -khtml-border-radius: 13px;
  border-radius: 13px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  background-color: white;
  float: left; }
/* line 86, ../sass/layout.scss */
#search-box #search-left-sec .search-ico {
  width: 30px;
  background: url("/images/search.png") no-repeat scroll center center transparent; }
/* line 91, ../sass/layout.scss */
#search-box #search-left-sec table {
  width: 100%; }
/* line 95, ../sass/layout.scss */
#search-box #search-left-sec #search-input {
  border: none;
  width: 95%;
  height: 26px;
  font-size: 130%;
  text-shadow: #e5e5e5 0 1px 1px;
  color: #898989; }

/* line 107, ../sass/layout.scss */
#search-result-body {
  z-index: 2; }

/**
* The right panel.
*/
/* line 114, ../sass/layout.scss */
#display-pnl {
  display: block;
  width: 720px;
  margin-left: 300px;
  min-height: 500px;
  background-color: #FFFFFF;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 18px;
  font-size: 12pt;
  -moz-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -webkit-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -o-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -o-border-bottom-left-radius: 13px;
  -ms-border-bottom-left-radius: 13px;
  -khtml-border-bottom-left-radius: 13px;
  border-bottom-left-radius: 13px;
  -moz-border-radius-bottomright: 13px;
  -webkit-border-bottom-right-radius: 13px;
  -o-border-bottom-right-radius: 13px;
  -ms-border-bottom-right-radius: 13px;
  -khtml-border-bottom-right-radius: 13px;
  border-bottom-right-radius: 13px;
  text-shadow: #d3d3d3 0 1px 1px;
  border-color: #dddddd #dddddd #dddddd #666666;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  position: relative;
  padding: 15px;
  z-index: 2; }

/* line 134, ../sass/layout.scss */
#header {
  position: relative;
  color: #666;
  text-shadow: #d3d3d3 0 1px 1px; }

/***** NAVIGATION LINKS ******/
/* line 141, ../sass/layout.scss */
#pnl-nav {
  position: relative;
  -moz-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -webkit-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  -o-box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  box-shadow: 0 6px 12px rgba(184, 184, 184, 0.6);
  border-color: #dddddd #dddddd #dddddd #666666;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  z-index: 1;
  -moz-border-radius-topleft: 13px;
  -webkit-border-top-left-radius: 13px;
  -o-border-top-left-radius: 13px;
  -ms-border-top-left-radius: 13px;
  -khtml-border-top-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -o-border-bottom-left-radius: 13px;
  -ms-border-bottom-left-radius: 13px;
  -khtml-border-bottom-left-radius: 13px;
  border-bottom-left-radius: 13px; }
/* line 154, ../sass/layout.scss */
#pnl-nav a {
  text-decoration: none; }
/* line 159, ../sass/layout.scss */
#pnl-nav .nav-lnk-title {
  text-transform: capitalize; }
/* line 163, ../sass/layout.scss */
#pnl-nav .nav-indicator {
  width: 40px;
  height: 40px; }
/* line 168, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk {
  height: 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fffaf2));
  background-image: -webkit-linear-gradient(#ffffff, #fffaf2);
  background-image: -moz-linear-gradient(#ffffff, #fffaf2);
  background-image: -o-linear-gradient(#ffffff, #fffaf2);
  background-image: -ms-linear-gradient(#ffffff, #fffaf2);
  background-image: linear-gradient(#ffffff, #fffaf2);
  text-shadow: #d3d3d3 0 1px 1px;
  font: bold 12px/16px "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: #666666;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid white;
  border-bottom: 1px solid #F1F1EE;
  border-right: none;
  -moz-box-shadow: inset 0 -1px 0 white;
  -webkit-box-shadow: inset 0 -1px 0 white;
  -o-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white;
  line-height: 40px;
  cursor: pointer; }
/* line 169, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk .nav-icon {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  background: url(/images/bookmark.png) no-repeat center transparent; }
/* line 178, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk.nav-info .nav-icon {
  background: url(/images/sound.png) no-repeat center transparent; }
/* line 180, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk.nav-info .nav-icon.no-sound {
  background: url(/images/information.png) no-repeat center transparent; }
/* line 185, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk.nav-info .nav-lnk-title {
  font-size: 150%; }
/* line 191, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk.active .nav-icon {
  background: url(/images/right_arrow.png) no-repeat center transparent; }
/* line 196, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk table {
  width: 100%; }
/* line 200, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk tr {
  width: 100%; }
/* line 222, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk .nav-title {
  vertical-align: middle; }
/* line 226, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk.first {
  -moz-border-radius-topleft: 13px;
  -webkit-border-top-left-radius: 13px;
  -o-border-top-left-radius: 13px;
  -ms-border-top-left-radius: 13px;
  -khtml-border-top-left-radius: 13px;
  border-top-left-radius: 13px; }
/* line 230, ../sass/layout.scss */
#pnl-nav .cnt-nav-lnk.last {
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -o-border-bottom-left-radius: 13px;
  -ms-border-bottom-left-radius: 13px;
  -khtml-border-bottom-left-radius: 13px;
  border-bottom-left-radius: 13px; }

/* line 239, ../sass/layout.scss */
#nav-border-top-hider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12px;
  z-index: 4; }

/* line 247, ../sass/layout.scss */
#nav-border-hider {
  border-color: #dddddd #dddddd #dddddd #666666;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  float: right;
  z-index: 3;
  position: relative;
  width: 12px; }
/* line 255, ../sass/layout.scss */
#nav-border-hider .nav-border-hider-section {
  -moz-box-shadow: inset 0 -1px 0 white;
  -webkit-box-shadow: inset 0 -1px 0 white;
  -o-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white;
  border: 1px solid white;
  border-left: none;
  border-bottom: 1px solid #F1F1EE;
  height: 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fffaf2));
  background-image: -webkit-linear-gradient(#ffffff, #fffaf2);
  background-image: -moz-linear-gradient(#ffffff, #fffaf2);
  background-image: -o-linear-gradient(#ffffff, #fffaf2);
  background-image: -ms-linear-gradient(#ffffff, #fffaf2);
  background-image: linear-gradient(#ffffff, #fffaf2); }

/* Button Icon style */
/* line 267, ../sass/layout.scss */
#cntRolePanel .btnIcon {
  width: 30px; }

/**
* vocabulary decoration style.
*/
/* line 1, ../sass/vocabulary/_layout.scss */
div.title, span.title {
  color: #525250;
  float: left;
  font: 13px "ClarendonRoman", Georgia, Times, serif;
  letter-spacing: 2px;
  position: relative;
  top: 4px;
  font-weight: bold; }

/* line 11, ../sass/vocabulary/_layout.scss */
.w-k {
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 15px; }

/* line 16, ../sass/vocabulary/_layout.scss */
.w-k-t {
  font-size: 120%;
  font-weight: bold;
  color: #000080; }

/* line 25, ../sass/vocabulary/_layout.scss */
.w-phrase {
  color: #000080; }

/* line 29, ../sass/vocabulary/_layout.scss */
div.w-k > ol > li {
  color: #A8397A;
  font-weight: bold; }

/* line 34, ../sass/vocabulary/_layout.scss */
div.w-k-m-container {
  color: black;
  font-weight: normal; }

/* line 42, ../sass/vocabulary/_layout.scss */
.grammarGroup, .languageGroup {
  font-style: italic;
  font-weight: bold;
  font-size: 11px; }

/* line 48, ../sass/vocabulary/_layout.scss */
.w-k-m-c {
  font-weight: bold;
  font-size: 14px; }

/* line 53, ../sass/vocabulary/_layout.scss */
.w-k-m-ex {
  padding-left: 15px;
  font-style: italic;
  color: #808080;
  font-size: 90%; }

/* line 60, ../sass/vocabulary/_layout.scss */
#recent-w {
  width: 300px;
  float: left; }

/* line 65, ../sass/vocabulary/_layout.scss */
div.w-k-m-examples {
  font-size: 12px;
  font-style: italic; }

/* line 70, ../sass/vocabulary/_layout.scss */
ol li.w-k-m:hover {
  border: #CCCCCC 1px solid;
  background-color: #FFF;
  padding: 0 0 0 3px; }

/* line 76, ../sass/vocabulary/_layout.scss */
ol li.w-k-m {
  padding: 1px 0 1px 4px; }

/* line 80, ../sass/vocabulary/_layout.scss */
ul li.w-k-m-sub:hover {
  border: #CCCCCC 1px solid;
  padding: 0 0 0 39px;
  background-color: #E8F2FB;
  background-position: 30px 7px; }

/* line 87, ../sass/vocabulary/_layout.scss */
ul li.w-k-m-sub {
  list-style: none outside none;
  background: url("<c:url value='/styles/images/bullet_gray.png' />") no-repeat scroll 31px 8px transparent;
  font-size: 13px;
  margin-left: -40px;
  padding: 1px 0px 1px 40px; }

/* line 95, ../sass/vocabulary/_layout.scss */
ul.w-k-m-sub-example {
  list-style: none;
  font-style: italic;
  font-size: 12px; }

/* line 101, ../sass/vocabulary/_layout.scss */
.w-time {
  font-size: 9px; }

/** AUTOCOMPLETE CSS */
/* line 107, ../sass/vocabulary/_layout.scss */
.ac_results {
  padding: 0;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
  width: 500px;
  margin-left: -37px;
  margin-top: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px inset, rgba(242, 240, 240, 0.6) 0 0 4px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -o-border-bottom-left-radius: 13px;
  -ms-border-bottom-left-radius: 13px;
  -khtml-border-bottom-left-radius: 13px;
  border-bottom-left-radius: 13px;
  -moz-border-radius-bottomright: 13px;
  -webkit-border-bottom-right-radius: 13px;
  -o-border-bottom-right-radius: 13px;
  -ms-border-bottom-right-radius: 13px;
  -khtml-border-bottom-right-radius: 13px;
  border-bottom-right-radius: 13px; }

/* line 120, ../sass/vocabulary/_layout.scss */
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 128, ../sass/vocabulary/_layout.scss */
.ac_results li {
  margin: 0px;
  padding: 7px;
  padding-left: 15px;
  cursor: default;
  display: block;
  /*
      if width will be 100% horizontal scrollbar will apear
      when scroll mode will be used
      */
  /*width: 100%;*/
  font: menu;
  font-size: 15px;
  /*
      it is very important, if line-height not setted or setted
      in relative units scroll will be broken in firefox
      */
  line-height: 22px;
  overflow: hidden; }

/* line 149, ../sass/vocabulary/_layout.scss */
.ac_loading {
  background: white url("indicator.gif") right center no-repeat; }

/* line 153, ../sass/vocabulary/_layout.scss */
.ac_odd {
  background-color: #eeeeee; }

/* line 157, ../sass/vocabulary/_layout.scss */
.ac_over {
  background-color: #DEE7F8;
  color: black; }
