body {
    height: 950px;
    min-width: 1000px;
    padding: 0;
    margin: 0;
}

#content {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: url(img/fond_portfolio.jpg) repeat;
}

#itemsContainer {
    width: 1000px;
    margin: 0 auto;
}

.theme-1 {
    background: url(img/theme-1.png) no-repeat;
}

.theme-2 {
    background: url(img/theme-2.png) no-repeat;
}

.theme-3 {
    background: url(img/theme-3.png) no-repeat;
}

.theme-4 {
    background: url(img/theme-4.png) no-repeat;
}

.itemPic {
    height: 230px;
    width: 225px;
}

.itemContainer {
    height: 230px;
    margin: 10px;
    width: 225px;
    background: url(img/pic1.png) no-repeat 20px 20px;
}

.fleft {
    float: left;
}
