/* image preloader overlay css */
#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 1100;
    display: none;
}* html #image-overlay { /* IE6 */
    position: absolute;
    width: 100%;
}

/* image preloader loading indicator */
#image-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 200px;
    margin-top: -10px;
    margin-left: -100px;
    cursor: pointer;
    z-index: 1104;
    display: none;
}

#image-loading #loading_wrapper {
    border: #fff 1px solid;
    height: 10px;
    width: 100%;
}

#image-loading #loading_description {
    margin: 0 auto;
    color: #FFF;
    font-size: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#indicator {
    height: 100%;
    width: 0;
    background-color: #D14901;
}* html #image-loading { /* IE6 */
    position: absolute;
    margin-top: 0;
}
