<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <bean id="dictionaryLookupService" class="com.nkhoang.service.impl.DictionaryLookupServiceImpl" />
  <bean id="jsonService" class="com.nkhoang.service.impl.JsonServiceImpl"/>

</beans>
