<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       "
       default-lazy-init="true">
  <!-- bean post-processor for JPA annotations in order to use @PersistenceContext -->
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
  <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

  <tx:annotation-driven transaction-manager="txManager"/>

  <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="myEmf"/>
  </bean>


  <bean id="myEmf"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="packagesToScan" value="com.nkhoang"/>
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="true"/>
        <property name="generateDdl" value="true"/>
        <property name="databasePlatform" value="${hibernate.dialect}"/>
      </bean>
    </property>
  </bean>


  <bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${hibernate.connection.driver_class}"/>
    <property name="url" value="${hibernate.connection.url}"/>
    <property name="username" value="${hibernate.connection.username}"/>
    <property name="password" value="${hibernate.connection.password}"/>
    <property name="defaultAutoCommit" value="true"/>
  </bean>

  <bean id="bookingTypeDataService" class="com.nkhoang.wybness.dao.impl.BookingTypeDataServiceImpl"/>
  <bean id="pricingPolicyDataService" class="com.nkhoang.wybness.dao.impl.PricingPolicyDataServiceImpl"/>
  <bean id="resourceTypeDataService" class="com.nkhoang.wybness.dao.impl.ResourceTypeDataServiceImpl"/>
  <bean id="wordDataService" class="com.nkhoang.dao.impl.WordDataServiceImpl"/>
  <bean id="dictionaryDataService" class="com.nkhoang.dao.impl.DictionaryDataServiceImpl"/>
  <bean id="soundDataService" class="com.nkhoang.dao.impl.SoundDataServiceImpl"/>
</beans>